@import "../mixins";

.advantage__inner--bluebg {
  background-color: @blue;
}

.advantage__inner--greybg {
  background-color: @grey;
}

.advantage__header {
  .common-text;
}

.advantage__text--white {
  color: @white;
}

.advantage__number, .advantage__description {
  .normal-text;
}
