.advantage__inner--bluebg {
  background-color: @blue;
}

.advantage__inner--greybg {
  background-color: @grey;
}

.advantage__header {
  .common-text();
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 0px;
  }

  @media (min-width: @desktop-width) {
    &--medium {
      padding-left: 67px;
      padding-right: 66px;
    }
  }
}

.advantage__text--white {
  color: @white;
}

.advantage__number,
.advantage__description {
  .normal-text();
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 21px;
  }
}

.advantage__number {
  @media (min-width: @tablet-width) {
    margin-top: 10px;
  }
}

.advantage__description {
  @media (min-width: @tablet-width) {
    margin-top: 22px;
  }
}

.advantage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: @blue;

  &:first-child {
    padding-top: 40px;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: 50% top;
    background-size: 768px 37px;
  }

  &:nth-child(3) .advantage__text--smaller {
    padding-top: 29px;
    padding-bottom: 13px;
    padding-left: 41px;
    padding-right: 41px;
  }

  &:nth-child(4) .advantage__text--smaller {
    padding-top: 29px;
    padding-bottom: 13px;
    padding-left: 57px;
    padding-right: 56px;
  }

  &:nth-child(5) .advantage__text--smaller {
    padding-top: 29px;
    padding-bottom: 13px;
    padding-left: 37px;
    padding-right: 37px;
  }

  @media (min-width: @tablet-width) {
    .container-tablet();
    flex-direction: row;

    &:first-child {
      padding-top: 0;
      background-image: none;
    }

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      padding-top: 17px;
      padding-bottom: 17px;
    }

    &:nth-child(3) .advantage__text--smaller {
      padding-left: 49px;
      padding-right: 48px;
    }

    &:nth-child(4) .advantage__text--smaller {
      padding-left: 61px;
      padding-right: 63px;
    }

    &:nth-child(5) .advantage__text--smaller {
      padding-left: 52px;
      padding-right: 53px;
    }
  }

  @media (min-width: @desktop-width) {
    .container-desktop();

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      padding-top: 16px;
      padding-bottom: 37px;
    }

    &:nth-child(3) .advantage__text--smaller {
      padding-left: 42px;
      padding-right: 43px;
    }

    &:nth-child(4) .advantage__text--smaller {
      padding-left: 61px;
      padding-right: 63px;
    }

    &:nth-child(5) .advantage__text--smaller {
      padding-left: 52px;
      padding-right: 53px;
    }
  }
}

.advantage__text {
  padding: 24px 28px;
  .container-mob();
  line-height: 21px;

  @media (min-width: @tablet-width) {
    max-width: 400px;
    width: 256px;
    padding-top: 27px;
    padding-left: 47px;
    padding-right: 47px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    padding-left: 70px;
    padding-right: 67px;
    padding-top: 35px;
  }
}

.advantage__header--second {
  @media (min-width: @tablet-width) {
    padding-left: 6px;
    padding-right: 6px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.advantage--line {
  position: relative;
  color: #333333;
  background-color: #ededed;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: @input-iconcolor;
  }
}

.advantage__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding-bottom: 0;
    align-items: flex-start;

    &:last-child {
      flex-direction: row-reverse;
    }
  }
}

.advantage__photo {
  height: 260px;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 512px;
    height: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}

.advantage__brief {
  @media (min-width: @tablet-width) {
    width: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.advantage__header--smaller {
  margin: 0;

  @media (min-width: @desktop-width) {
    padding-left: 71px;
    padding-right: 75px;
  }
}
