.copyright {
  display: flex;
  justify-content: center;
}

.copyright__developed {
  .normal-text();
  line-height: 48px;
  padding-left: 8px;
}

.copyright__link {
  width: 48px;
  height: 48px;
  padding-top: 5px;
}

.copyright__icon {
  width: 62px;
  height: 41px;
}
