.feature__icon {
  fill: @blue;
  @media (min-width: @tablet-width) {
    width: 75px;
    height: 75px;
    text-align: center;
  }
}

.features {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #333;
  background-color: #fff;
  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.feature__title {
  .common-text();
  line-height: 37px;
  justify-content: flex-start;
  @media (min-width: @tablet-width) {
    justify-content: center;
  }
}

.feature__text p {
  .normal-text();
}

.feature__text {
  padding-left: 20px;
}

.feature__item {
  display: flex;
  padding: 20px 5%;
  line-height: 21px;
  text-align: left;
  @media (min-width: @tablet-width) {
    flex-direction: column;
    width: 33%;
    min-height: 256px;
    padding: 30px 20px;
    text-align: center;
    align-items: center;
  }
}
