// main: style.less;

.feedback input {
  background-color: @input-color;
  border: none;
}

.textbox input {
  padding-top: 17px;
  padding-right: 21px;
  font-weight: bold;
}

.textbox__title {
  text-transform: uppercase;
  font-size: 14px;
}
