.intro {
  min-height: 158px;
  margin: 0;
  padding: 52px 0 0;
  background-color: #e4f1f9;
  background-image: url("../../img/bg-intro-triangle-desktop.svg"), url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% bottom;
  background-size: auto, auto;
  @media (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), (max-width: 767px) and (min-resolution: 2dppx) {
    background-image: url("../../img/bg-intro-triangle-desktop.svg"), url("../../img/bg-back-mobile@1x.jpg");

    background-size: auto, 768px 389px;
  }
}

.intro__banner {
  width: 230px;
}

.intro img {
  width: 280px;
}

.intro--first-page {
  min-height: 389px;
  padding-top: 90px;
  text-align: center;
}
