// main: style.less

.intro {
  background-image: url("@{img}bg-back-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;
  height: 390px;
  width: 320px;
}

.intro img {
  width: 100%;
  padding-top: 90px;
  padding-left: 20px;
  padding-right: 20px;
}
