.player {
  .container-mob();
  height: 290px;
  padding-top: 30px;

  @media (min-width: @tablet-width) {
    .container-tablet();
    width: 648px;
  }

  @media (min-width: @desktop-width) {
    .container-desktop();
    width: 800px;
  }
}
