.post__header {
  .common-text();
  font-size: 14px;
  line-height: 25px;
  justify-content: left;
  margin: 0;

  @media (min-width: @desktop-width) {
    margin-bottom: 4px;
  }
}

.post {
  position: relative;
  padding: 23px 0;
  font-size: 14px;
  padding-bottom: 22px;

  @media (max-width: 767px) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -20px;
      display: block;
      width: 320px;
      height: 1px;
      background-color: @grey-crossline;
    }
  }

  &:first-child .post__photo img {
    @media (min-width: @tablet-width) {
      width: 648px;
      height: 400px;
    }

    @media (min-width: @desktop-width) {
      width: 1200px;
      height: 400px;
    }
  }

  @media (min-width: @tablet-width) {
    .container-tablet();
    margin: 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    .container-desktop();
  }
}

.post__likes {
  display: flex;
  align-items: flex-end;
  margin-top: 11px;

  @media (min-width: @tablet-width) {
    align-items: center;
    width: 85px;
    margin-top: 20px;
  }
}

.post__likes-count {
  display: block;
  height: 14px;
  padding-left: 14px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-left: 11px;
  }

  @media (min-width: @desktop-width) {
    color: white;
  }
}

.post__likes-button {
  display: block;
  width: 22px;
  height: 20px;
  background: url("@{img}icon-like.svg") no-repeat 50% 50%;
  background-size: 23px 22px;
  border: none;
  outline: none;
  cursor: pointer;
}

.post__author {
  margin: 0;
  margin-top: 2px;
}

.post__photo img {
  display: block;
  width: 280px;
  height: 279px;
  line-height: 0;
  background-color: #aab7a5;

  @media (min-width: @tablet-width) {
    width: 324px;
    height: 267px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.post__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    min-height: 80px;
    margin-top: 0;
    padding-bottom: 20px;
    color: #333333;
    background-color: @input-color;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 76px;
  }

  &--gray {
    @media (min-width: @tablet-width) {
      background-color: #eaeaea;
    }

    @media (min-width: @desktop-width) {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

.post__description {
  @media (min-width: @tablet-width) {
    margin-top: 15px;
    margin-left: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 13px;
    margin-left: 21px;
  }
}

.post__content {
  margin: 0;
  padding: 0;
}
