.site-header__wrapper {
  background: #ffffff;
  height: 55px;

  @media (min-width: @tablet-width) {
    background: 0 0;
    height: 0;
    position: static;
  }
}

.site-header,
.site-header__wrapper {
  position: relative;
}
