.site-footer__copyright {
  display: flex;
  justify-content: center;
}

.copyright__developed {
  .normal-text();
  line-height: 48px;
  padding-left: 8px;
}

.copyright__link {
  width: 48px;
  height: 48px;
  padding-top: 5px;
}

.copyright__icon {
  width: 62px;
  height: 41px;
}

.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  padding: 60px 0;

  &__last-page {
    padding-top: 51px;
  }

  @media (min-width: @tablet-width) {
    .container-tablet();
    flex-direction: row;
    padding-top: 36px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    .container-desktop();
    padding: 0 120px;
    margin-top: 29px;
  }
}
