.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  padding: 17px 0;

  &--last-page {
    padding-top: 53px;
  }

  @media (min-width: @tablet-width) {
    .container-tablet();
    flex-direction: row;
    padding-top: 36px;
    padding-left: 60px;
    padding-right: 52px;
    padding-bottom: 50px;
    justify-content: space-between;
    align-items: center;

    &--second-page {
      padding-top: 33px;
    }
  }

  @media (min-width: @desktop-width) {
    .container-desktop();
    padding-right: 114px;
    padding-left: 120px;
    margin-top: 0;
    padding-top: 36px;

    &--last-page {
      padding-top: 0;
      margin-top: 42px;
    }

    &--second-page {
      padding-top: 27px;
    }
  }
}
