// main: style.less;

.social-list__item {
  fill: @white;
  background-color: @blue;
  width: 46px;
  height: 48px;
  text-align: center;
  padding-top: 17px;
  display: inline-block;
}

.social-list {
  list-style-type: none;
}
