.textbox__title {
  .normal-text();
  padding-right: 17px;
  line-height: 25px;
  color: #333333;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    align-items: center;
    padding-right: 16px;
  }
}

.textbox__input--feedback-description {
  width: 100%;
  height: 58px;
  margin: 0;
  padding: 0 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  background-color: @input-color;
  border: none;
  outline: none;

  &::placeholder {
    color: @black;
  }
}

.textbox__input {
  width: 100%;
  height: 58px;
  margin: 0;
  padding: 0 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  background-color: @input-color;
  background-repeat: no-repeat;
  background-position: right 50%;
  background-size: 20px 20px;
  border: none;
  outline: none;
  position: relative;

  &::placeholder {
    color: @black;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: white;
    border: 4px solid #e5e5e5;
    padding: 0 16px;
  }
}

.textbox__input--feedback-description {
  width: 279px;
  min-height: 160px;
  padding-top: 18px;
  resize: none;

  @media (min-width: @tablet-width) {
    .container-tablet();
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    .container-desktop();
  }
}

.textbox {
  display: flex;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    &__bottom {
      padding-top: 31px;
      padding-bottom: 9px;
    }
  }
}

.textbox__title--feedback-contacts {
  position: relative;
  margin-bottom: 5px;
  margin-left: 20px;
  line-height: 25px;
  text-align: left;
  justify-content: flex-start;
  white-space: nowrap;

  @media (min-width: @desktop-width) {
    margin: 0;
    line-height: 58px;
  }
}

.textbox__feedback-contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    margin-top: 51px;
  }
}


.textbox__input--phone {
  width: 225px;

  @media (min-width: @tablet-width) {
    width: 588px;
  }

  @media (min-width: @desktop-width) {
    width: 260px;
  }
}

.textbox__input--email {
  width: 225px;

  @media (min-width: @tablet-width) {
    width: 588px;
  }

  @media (min-width: @desktop-width) {
    width: 263px;
  }
}

.text-box__input--icon {
  &-phone {
    position: absolute;
    background-image: url("../img/icon-phone.svg");
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-position: center;
    width: 58px;
    height: 58px;
    right: 0px;
    top: 30px;

    @media (min-width: @desktop-width) {
      right: 80px;
      top: 0;
    }
  }

  &-email {
    position: absolute;
    background-image: url("../img/icon-mail.svg");
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-position: center;
    width: 58px;
    height: 58px;
    right: 0px;
    top: 30px;

    @media (min-width: @desktop-width) {
      top: 0;
    }
  }
}
