.common-text() {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  display: flex;
  justify-content: center;
}

.normal-text() {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
