.common-text() {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  display: flex;
  justify-content: center;
}

.normal-text() {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.container-mob() {
  max-width: 320px;
  margin: 0 auto;
}

.container-tablet() {
  max-width: @tablet-width;
  margin: 0 auto;
}

.container-desktop() {
  max-width: @desktop-width;
  margin: 0 auto;
}
