@blue: #81b3d2;
@white: #ffffff;
@black: #000000;
@grey: #eeeeee;
@grey-crossline: #e5e5e5;
@input-color: #f2f2f2;
@input-iconcolor: #e6e6e6;

@font-family: "PT Sans", "Arial", sans-serif;

@img: "../img/";
