// main: style.less

@blue: #81b3d2;
@white: #ffffff;
@black: #000000;
@grey: #eeeeee;
@grey-crossline: #e5e5e5;
@input-color: #f2f2f2;
@input-iconcolor: #e6e6e6;

@font-family: "PT Sans", "Arial", sans-serif;

@img: "../../img/";

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
