@blue: #81b3d2;
@blue-hover: #669ec0;
@white: #ffffff;
@black: #000000;
@grey: #eeeeee;
@grey-crossline: #e5e5e5;
@input-color: #f2f2f2;
@input-iconcolor: #e6e6e6;
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1200px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
@font-family: "PT Sans", "Arial", sans-serif;
@img: "../img/";
